{{ header }}
<div class="container product-search">
<div class="banner-header banner-lbook3 space-50">
    <img src="image/catalog/images/banner-product-checkout.jpg" alt="Banner-header" class="img-responsive">
            <div class="text">
			 <h3 style="color:#ffffff;">{{ heading_title }}</h3><p>
			 {% for breadcrumb in breadcrumbs %}
               <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a><i class="fa fa-caret-right"></i>
			 {% endfor %}</p>
            </div>
</div>
 <div class="cart-box-container">
    <div class="container container-ver2 ">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="">{{ content_top }}
      <h1 class="title-brand">{{ heading_title }}</h1>
      <label class="control-label" for="input-search">{{ entry_search }}</label>
      <div class="row">
        <div class="col-sm-4 search_input">
          <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control" />
        </div>
        <div class="col-sm-4 search_input">
          <select name="category_id" class="form-control">
            <option value="0">{{ text_category }}</option>
            {% for category_1 in categories %}
            {% if category_1.category_id == category_id %}
            <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
            {% else %}
            <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
            {% endif %}
            {% for category_2 in category_1.children %}
            {% if category_2.category_id == category_id %}
            <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
            {% else %}
            <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
            {% endif %}
            {% for category_3 in category_2.children %}
            {% if category_3.category_id == category_id %}
            <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
            {% else %}
            <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-4 search_input">
          <label class="checkbox-inline">
            {% if sub_category %}
            <input type="checkbox" name="sub_category" value="1" checked="checked" />
            {% else %}
            <input type="checkbox" name="sub_category" value="1" />
            {% endif %}
            {{ text_sub_category }}</label>
        </div>
      </div>
	  <br>
      <p>
        <label class="checkbox-inline">
          {% if description %}
          <input type="checkbox" name="description" value="1" id="description" checked="checked" />
          {% else %}
          <input type="checkbox" name="description" value="1" id="description" />
          {% endif %}
          {{ entry_description }}</label>
      </p><br>
      <input type="button" value="{{ button_search }}" id="button-search" class="link-v1 lh-50 rt" /><br /><br />
      <h2 class="title-brand">{{ text_searchcriteria }}</h2>
      {% if products %}
      
		 <div class="wrap-breadcrumb">
			<div class="ordering">
			<div class="float-left">
			  <div class="btn-group btn-group-sm">
				<span type="button" id="list-view" class="list" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></span>
				<span type="button" id="grid-view" class="col active" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></span>
			  </div>
			</div>
			<div class="float-right">
				<div class="form-group input-group input-group-sm order-by form">
					<p>{{ text_sort }}</p>
					<select id="input-sort" class="orderby" onchange="location = this.value;">
					  {% for sorts in sorts %}
					  {% if sorts.value == '%s-%s'|format(sort, order) %}
					  <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
					  {% else %}
					  <option value="{{ sorts.href }}">{{ sorts.text }}</option>
					  {% endif %}
					  {% endfor %}
					</select>
				</div>
			</div>
		</div>	
        </div>
       
        
        
    
      <div class="products ver2 grid_full hover-shadow furniture border-space-full">
        {% for product in products %}
        <div class="item-inner">
          <div class="product">
		   <div class="product-images">
            <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
           </div>
			<a href="{{ product.href }}"><p class="product-title">{{ product.name }}</p></a>
			<p class="rating">
				 {% for i in 1..5 %}
                  {% if product.rating < i %}
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  {% else %}
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
				  {% endif %}
				  {%endfor%}
            </p>
			 {% if product.special %}
				<p class="product-price-old">{{ product.price }}</p>
				<p class="product-price">{{ product.special }}</p>
			 {% else %}
				<p class="product-price ext">{{ product.price }}</p>
			{% endif %}
                <p class="description">{{ product.description }}</p>
                
               
             
              <div class="action">
				<a class="add-cart1 fa fa-shopping-bag"  onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"  title="{{ button_cart }}"></a>
				<a class="wish1 fa fa-heart-o" onclick="wishlist.add('{{ product.product_id }}');" title="{{ button_wishlist }}"></a>
				<a class="fa fa-random compare_icon"  title="compare" onclick="compare.add('{{ product.product_id }}');"></a>
               
              </div>
			   
           
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right page">{{ results }}</div>
      </div>
      {% else %}
      <p class="page">{{ text_searchempty }}</p>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div></div></div>
<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';

	var search = $('#content input[name=\'search\']').prop('value');

	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	var category_id = $('#content select[name=\'category_id\']').prop('value');

	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}

	var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

	if (sub_category) {
		url += '&sub_category=true';
	}

	var filter_description = $('#content input[name=\'description\']:checked').prop('value');

	if (filter_description) {
		url += '&description=true';
	}

	location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name=\'category_id\']').on('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').prop('disabled', true);
	} else {
		$('input[name=\'sub_category\']').prop('disabled', false);
	}
});

$('select[name=\'category_id\']').trigger('change');
--></script>
{{ footer }}