{{ header }}
<div class="container">
<div class="banner-header banner-lbook3 space-70">
    <img src="image/catalog/images/banner-product-checkout.jpg" alt="Banner-header" class="img-responsive">
            <div class="text">
			 <h3 style="color:#ffffff;">{{ txt_forgotpassword }}</h3><p>
			 {% for breadcrumb in breadcrumbs %}
               <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a><i class="fa fa-caret-right"></i>
			 {% endfor %}</p>
            </div>
</div>
<div id="account-forgotten" class="container account-forgotten">
 
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
  <button type="button" class="close" data-dismiss="alert">&times;</button></div>
  {% endif %}
  <div class="row">
    <div id="content" class="{{ class }}">{{ content_top }}
	<div class="container container-ver2">
	<div class="col-md-8 col-sm-12">
	<div class="row">
      <h1>{{ txt_forgotpassword }}</h1> <br />
      <p>{{ text_email }}</p> <br />
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{ text_your_email }}</legend>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
            <div class="col-sm-10">
              <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
            </div>
          </div>
        </fieldset>
        <div class="buttons clearfix">
          <div class="pull-left left_for"><a href="{{ back }}" class="link-v1 rt">{{ button_back }}</a></div>
          <div class="pull-right right_for">
            <input type="submit" value="{{ button_continue }}" class="link-v1 rt" />
          </div>
        </div>
      </form>
      </div>
   </div></div></div></div>
</div>
</div>
{{ footer }}